  .card {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  .card img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }

  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 1; /* Alterado para manter a descrição sempre visível */
  }
